.dockerignore
.DS_Store
.git
.idea
.editorconfig
.env
.env.example
.gitattributes
.gitignore
.gitlab-ci.yml*
.php_cs
.php_cs.cache
.phpunit.result.cache
.styleci.yml


README.md

phpunit.xml
webpack.mix.js

node_modules
npm-debug.log
vendor

cdk*

tests

storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
